@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common style */
.wrap {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.hide {
    display: none !important;
}

/* header style */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

header .inner-header {
    /* background: orange; */
    width: 92%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;
    color: #fff;
}

header .inner-header .logo {
    /* background: tomato; */
    flex: 1; /* flex-grow: 1;*/
}

header .inner-header .logo a {
    display: block;
    width: 100%;
}

header .inner-header .logo a img {
    height: 60px;
}

header .inner-header .intro-text {
    /* background: greenyellow; */
    flex: 4;
    margin-left: 40px;
    text-transform: uppercase;
}

header .inner-header .menu-open {
    /* background: skyblue; */
    flex: 1;
    font-size: 16px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

header .gnb {
    background: #000;
    color: #666;
    font-size: 40px;
    padding: 70px 100px;
    box-sizing: border-box;

    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;

    display: flex;
    flex-direction: row-reverse;
}

header .gnb .close {
    display: block;
    color: #fff;
}

header .gnb ul {
    margin-right: 200px;
}

header .gnb ul li {
    font-weight: 700;
    line-height: 1.7;
}

header .gnb ul li:hover,
header .gnb ul li:active {
    color: #fff;
}

header .gnb.on {
    right: 0;
    transition: all 0.4s;
}

/* section.visual style */

section.visual .slide li {
    width: 100%;
    height: 100vh;
    /* background: orange; */
    overflow: hidden;
    position: relative;
}

section.visual .slide li img {
    width: 100%;
    position: absolute;
    top: -50px;
}

section.visual .slide li .txt {
    color: #fff;
    font-size: 18px;

    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);

    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

section.visual .slide li .txt h3 {
    margin: 30px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
}

section.visual .slide li .scroll {
    /* background: orange; */
    position: absolute;
    left: 50px;
    bottom: 10%;
    font-size: 20px;
    font-weight: 700;
    color: #ccc;
    transform: rotate(-90deg);
}

/* section.contents style */
section.contents {
    background: #1b1b1b;
    color: #fff;
    padding: 120px 0;
}

section.contents .main-text {
    /* background: tomato; */
    width: 80%;
    margin: 0 auto;
    font-size: 25px;

    display: flex;
    position: relative;
}

section.contents .main-text::before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffec03;
    position: absolute;
    left: 70px;
    top: 100px;
}

section.contents .main-text::after {
    content: 'â€';
    font-size: 300px;
    position: absolute;
    left: 0;
    top: 100px;
}

section.contents .main-text h3 {
    flex: 1;
    font-weight: 700;
}

section.contents .main-text p {
    flex: 2;
    font-size: 23px;
    line-height: 1.4;
}

section.contents .main-text p span {
    display: block;
    font-size: 20px;
    color: #999;
    margin-top: 30px;
}

/* > .project */
section.contents .project .top {
    /* background: tomato; */
    width: 80%;
    margin: 200px auto 60px;

    display: flex;
    justify-content: space-between;
}

section.contents .project .top h3 {
    /* background: red; */
    font-size: 35px;
    font-weight: 700;
}

section.contents .project .top a {
    font-size: 18px;
}

section.contents .project ul {
    display: flex;
    justify-content: space-evenly;
}

section.contents .project ul li {
    width: 24%;
    border: 4px solid #fff;
    box-sizing: border-box;
    height: 400px;
    overflow: hidden;
    position: relative;
}

section.contents .project ul li a::before {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(27, 27, 27, 0.9);
    transition: 0.6s;
    position: absolute;
}

section.contents .project ul li a:hover::before {
    width: 100%;
}

section.contents .project ul li a img {
    width: 100%;
}

section.contents .project ul li a .name {
    font-size: 22px;
    text-align: right;

    width: 250px;
    padding: 15px;
    box-sizing: border-box;
    background: #1b1b1b;

    position: absolute;
    right: 10px;
    bottom: 10px;

    opacity: 0;
}

section.contents .project ul li a:hover .name {
    animation: show-name 1s forwards;
}

@keyframes show-name {
    from {
        opacity: 0;
        bottom: -30px;
    }
    to {
        opacity: 1;
        bottom: 10px;
    }
}

/* < .partner */
    section.contents .partner {
        width: 80%;
        margin: 170px auto 100px;
    }

    section.contents .partner h3 {
        font-size: 17px;
        margin-bottom: 80px;
    }

    section.contents .partner ul {
        display: flex;
        flex-wrap: wrap;
    }

    section.contents .partner ul li {
        width: 25%;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    section.contents .partner ul li img {
        opacity: 0.3;
        transition: 0.3s;
    }

    section.contents .partner ul li img:hover {
        opacity: 1;
    }

    /* > .contact style */
    section.contents .contact {
        width: 90%;
        background: url(../img/contact.jpg) no-repeat center / cover fixed;
        padding: 220px 0;
    }

    section.contents .contact .inner {
        width: 70%;
        margin: 0 auto;
        font-size: 17px;
        line-height: 1.4;
    }

    section.contents .contact .inner .tel {
        font-size: 55px;
        font-weight: 700;
        margin: 50px 0;
    }

    /* footer style */
    footer {
        background: #1b1b1b;
        color: #999;
        padding: 0 80px 80px;
    }

    footer ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer ul li:nth-child(2) {
        color: #eee;
        font-size: 16px;
        line-height: 2;
    }

    footer ul li:nth-child(2) span {
        color: #999;
        font-weight: 700;
        margin-right: 10px;
    }

    footer .go-top {
        color: #fff;
        font-size: 50px;
        position: fixed;
        right: 50px;
        bottom: 60px;
    }